/* NO UTILIZAR NOMBRES DE TRANSACTION.CSS SE VA A OVERLAPEAR */

.Name {
    font-size: 40px;
    font-weight: 750;
    /* white-space: nowrap;  */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%; 
    margin-left: 30px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.Image {
    width: 500px;
    height: 500px;
    /* margin: 0 auto; */
    margin: 0 30px;
    border-radius: 1%;
}
.Description {
    width: 300px;
    margin: 12px 10px;
    overflow: hidden;
    /* Limita el texto a 3 lineas */
}

.Creator{
    margin-left: 10px
}

.Quantity {
    margin-left: 10px
}

.Tab {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    font-weight: lighter;
    border-radius: 1%;
    display: flex;
    color: white;
}

.side-tab{
margin-top: 150px;
}

.buy-button {
    width: 60%;
    margin: 90px auto; /* Center the button horizontally */;
    padding: 12px;
    background-color:#2952e3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #0638e7;
  }